:root {
    --graybg: #141414;
    --graycard: #1F1F1F;
    --graybtn: #333333;
    --pink: #ffafcc;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: 'Literata Italic';
    src: url('./assets/fonts/Literata-Italic-VariableFont_opsz\,wght.ttf');
  }

* {
    box-sizing: border-box;
}

body {
    background-color: var(--graybg);
    font-family: 'Figtree', sans-serif;
    font-size: 0.9em;
    line-height: 1.5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

a, a:visited, a:hover {
    color: white;
    text-decoration: none;
}

i, em {
    font-family: 'Literata Italic';
}

.home h1::before {
    content: "@";
    color: var(--pink);
    font-size: 0.9em;
    opacity: 0.8;
}

.container {
    background-color: var(--graycard);
    border-radius: 12px;
    padding: 40px;
    width: 385px;
    margin: auto;
    text-align: center;
}

.container h1 {
    font-weight: bold;
    margin: 24px 0 4px 0;
}

.container .location {
    color: var(--pink);
    font-weight: bold;
}

.container .bio {
    font-family: 'Literata Italic', serif;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.container li {
    background-color: var(--graybtn);
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    margin: 16px 0;
}

.container li:hover {
    background-color: var(--pink);
    transition: background-color 600ms ease-in-out;
}

.container li:hover a {
    color: var(--graybg);
}

.femprojects .container {
    max-width: 800px;
    width: 100%;
}

.femprojects h1::after {
    content: ";";
    color: var(--pink);
    margin-left: 5px;
}

.femprojects .projectgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.femprojects img {
    max-width: 100%;
    border-radius: 12px;
}

.femprojects a {
    color: var(--pink);
    font-weight: bold;
}

.femprojects div:hover a {
    color: #606060;
    transition: color 600ms ease-in-out;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--graybtn);
}
.attribution a {
    color: var(--graybtn);
}

@media screen and (max-width: 799px) {
    .container {
        width: 456px;
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 100%;
    }
}